{% extends 'reactjsform/main.html' %}
{% block content %}
<div id="form">
    <header>
        <h1>Django Product form page</h1>
    </header>

    <section>
        <div id="form_container"></div>
    </section>
</div>

<style>
section {
    padding:25px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}
</style>

<script type="text/babel">
const formContainer = React.createElement;

class Form extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            countries: ['United Kingdom', 'United States', 'China'],
            form: {
                code: '',
                factory: '',
                name: '',
                origin: ''
            },
            factories: ['Big factory', 'Small factory', 'MASSIVE factory'],
            headers: [],
            products: []
        }

        this.handleChange = this.handleChange.bind(this)
        this.handleSubmit = this.handleSubmit.bind(this)
    }

    componentDidMount () {
        this.getProducts()
    }

    getProducts () {
        fetch('/api/products/')
            .then(_resp => _resp.json())
            .then(_data => {
                const HEADERS = Object.keys(_data[0])
                this.setState({ headers: HEADERS })
                this.setState({ products: _data })
            })
            .catch(_error => { console.error(_error) })
    }

    handleChange(event) {
        let state = this.state
        const PROPERTY = event.target.name
        const VALUE = event.target.value
        state.form[PROPERTY] = VALUE
        this.setState({ state })
    }

    async handleSubmit(event) {
        event.preventDefault()
        const TOKEN = Cookies.get('csrftoken')
        await fetch('/api/products/', {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': TOKEN
                },
                body: JSON.stringify(this.state.form)
            })
            .then(_resp => this.getProducts())
            .catch(_error => console.error(_error))
    }

    render() {
        const ITEMS = this.state.products.map((product, index) => {
            const PRODUCT = this.state.products[index]
            let tdItems = Object.keys(PRODUCT).map(key => <td key={PRODUCT[key]}>{PRODUCT[key]}</td> )
            return <tr key={index}>{tdItems}</tr>
        })

        return (
            <div>
                <header>
                    <h2>Products</h2>
                </header>

                <table>
                    <thead>
                        <tr>
                            {this.state.headers.map(header => <th key={header.toString()}>{header}</th>)}
                        </tr>
                    </thead>

                    <tbody>
                        {ITEMS}
                    </tbody>
                </table>


                <header>
                    <h2>Form</h2>
                </header>

                <form onSubmit={this.handleSubmit}>
                    <label>
                        Name:
                        <input name="name" type="text" value={this.state.form.name} onChange={this.handleChange} required />
                    </label>

                    <label>
                        Code:
                        <input name="code" type="text" value={this.state.form.code} onChange={this.handleChange} validation-message="Minimum of 10 characters" minLength="10" maxLength="10" required />
                    </label>

                    <label>
                        Factory:
                        <select name="factory" value={this.state.form.factory} onChange={this.handleChange} required>
                            <option value="none" />
                            {this.state.factories.map(factory => <option key={factory.toString()}>{factory}</option>)}
                        </select>
                    </label>

                    <label>
                        Origin:
                        <select name="origin" value={this.state.form.origin} onChange={this.handleChange} required>
                            <option value="none" />
                            {this.state.countries.map(origin => <option value={origin.toString()} key={origin.toString()}>{origin}</option>)}
                        </select>
                    </label>

                    <button type="submit">Add</button>
                </form>
            </div>
        )
    }
}

const domContainer = document.querySelector('#form_container');
ReactDOM.render(formContainer(Form), domContainer);
</script>
{% endblock %}
