{% extends 'reactjsform/main.html' %}
{% block content %}
<div id="form">
    <header>
        <h1>[[ title ]]</h1>
    </header>

    <section>
        <header>
            <h2>Products</h2>
        </header>
        <div id="product_table_container"
    </section>

    <section>
        <header>
            <h2>Form</h2>
        </header>
        <div id="form_container"></div>
    </section>
</div>

<style>
section {
    padding:25px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}
</style>

<script type="text/babel">
'use strict';

const productTableContainer = React.createElement

class ProductTable extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            headers: [],
            products: [{}]
        }
    }

    render() {
        return (
            <table>
                <tr>
                    <th v-for="(header, index) in headers" :key="index">[[ header ]]</th>
                </tr>
                <tr v-for="(product, index1) in products" :key="index1">
                    <td v-for="(item, index2) in products[index1]" :key="index2">[[ item ]]</td>
                </tr>
            </table>
        );
    }
}

const formContainer = React.createElement;

class Form extends React.Component {
    constructor(props) {
        super(props);
        this.state = {
            countries: ['United Kingdom', 'United States', 'China'],
            form: {
                code: '',
                factory: '',
                name: '',
                origin: ''
            },
            factories: ['Big factory', 'Small factory', 'MASSIVE factory']
        }

        this.handleChange = this.handleChange.bind(this)
        this.handleSubmit = this.handleSubmit.bind(this)
    }

    handleChange(event) {
        let state = this.state
        const PROPERTY = event.target.name
        const VALUE = event.target.value
        state.form[PROPERTY] = VALUE
        this.setState({ state })
    }

    handleSubmit(event) {
        alert('Submitted', this.state.value)
        event.preventDefault()
    }

    render() {
        return (
            <form onSubmit={this.handleSubmit}>
                <label>
                    Name:
                    <input name="name" type="text" value={this.state.form.name} onChange={this.handleChange} required />
                </label>

                <label>
                    Code:
                    <input name="code" type="text" value={this.state.form.code} onChange={this.handleChange} validation-message="Minimum of 10 characters" minLength="10" maxLength="10" required />
                </label>

                <label>
                    Factory:
                    <select name="factory" value={this.state.form.factory} onChange={this.handleChange} required>
                        {this.state.factories.map(factory => <option key={factory.toString()}>{factory}</option>)}
                    </select>
                </label>

                <label>
                    Origin:
                    <select name="origin" value={this.state.form.origin} onChange={this.handleChange} required>
                        {this.state.countries.map(origin => <option key={origin.toString()}>{origin}</option>)}
                    </select>
                </label>

                <button type="submit">Add</button>
            </form>
        );
    }
}

const domContainer = document.querySelector('#form_container');
ReactDOM.render(formContainer(Form), domContainer);

const domContainer2 = document.querySelector('#product_table_container')
ReactDOM.render(productTableContainer(ProductTable), domContainer2)
</script>

<!--<script>-->
<!--new Vue({-->
<!--  data: {-->
<!--    headers: [],-->
<!--    products: {},-->
<!--    title: 'Welcome to our VueJS form'-->
<!--  },-->
<!--  created () {-->
<!--    this.getProducts()-->
<!--  },-->
<!--  methods: {-->
<!--    getProducts () {-->
<!--        this.$http-->
<!--            .get('/api/products/')-->
<!--            .then(_resp => {-->
<!--                this.products = _resp.body-->
<!--                this.headers = Object.keys(this.products[0])-->
<!--             })-->
<!--            .catch(_error => { console.error(_error) })-->
<!--    },-->
<!--    addProduct () {-->
<!--        this.$http-->
<!--            .post('/api/product/', this.form)-->
<!--            .then(_resp => { this.getProducts() })-->
<!--            .catch(_error => { console.error(_error) })-->
<!--    }-->
<!--  }-->
<!--})-->

<!--Vue.http.interceptors.push(function (_request) {-->
<!--    if(_request.method === 'POST' || _request.method === 'PUT') {-->
<!--        const TOKEN = Cookies.get('csrftoken')-->
<!--        _request.headers.set('X-CSRFToken', TOKEN)-->
<!--    }-->
<!--})-->
<!--</script>-->
{% endblock %}
</script>
